.calculator {
    border-style: solid;
    width: 20em;
}

.stack {
    border-bottom-style: solid;
    text-align: right;
    height: 10em;
}

.inputline {
    border-bottom-style: solid;
    border-bottom-width: thin;
    height: 2em;
    text-align: right;
}

.button {
    border-style: solid;
    border-width: thin;
    text-align: center;
}